/* Box Model */
/* Visual Decorations */
/* Typography */


/*-----General-----*/
* {
    /* Box Model */
    box-sizing:border-box;
    margin:0;
    padding:0;
    

    /* Typography */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*-----Classes-----*/
.header,
.intro {
    /* Box Model */
    display: flex;
    justify-content: center;

    /* Visual Decorations */
    background-color: #1F2937;
}

    /*-----Header Boxes-----*/
    .header-info {
        /* Box Model */
        align-items: center;
        display:flex;
        justify-content: space-between;
        padding: 1em 0;
        width:1200px;
    }

        .header-logo {
            /* Typography */
            color:#F9FAF8;
            font-size: 24px;
            font-weight: bold;
        }

        .header-links {
            /* Box Model */
            display: flex;
            gap: 2em;
            justify-content: flex-end;

            /* Typography */
            color: #E5E7EB;
        }

    /*-----Intro Boxes-----*/
    .intro-info {
        /* Box Model */
        display: flex;
        margin: 6em;
        width: 1200px;
    }

        .intro-text {
            /* Box Model */
            margin-right:4em;
        }

            .intro-title {
                /* Box Model */
                display: flex;
                flex-wrap: wrap;

                /* Typography */
                color: #F9FAF8;
                font-size: 48px;
                font-weight: bolder;
            }

            .intro-subtext {
                /* Box Model */
                display: flex;
                flex-wrap: wrap;

                /* Typography */
                color: #E5E7EB;
                font-size: 18px;
            }

            .intro-signup {
                /* Box Model */
                display: flex;
                flex-wrap: wrap;
                margin-top:2em;
                padding: 0.5em 1.5em;
                width: fit-content;

                /* Visual Decorations */
                background-color: #3882F6;
                border-radius: 7px;
                cursor: pointer;

                /* Typography */
                color: #F9FAF8;
                font-weight: bold;
            }

        .intro-image {
            /* Typography */
            color: #F9FAF8;
            text-align: center;
            
        }

.information {
    /* Box Model */
    display:flex;
    justify-content: center;
}

    .information-info {
        /* Box Model */
        width: 1200px;
    }

        .information-title {
            /* Box Model */
            margin: 1.5em;
            
            /* Typography */
            color: #1F2937;
            font-size: 36px;
            font-weight: bolder;
            text-align: center;
            
        }

        .information-squares {
            /* Box Model */
            display: flex;
            gap: 52px;
            justify-content: center;
            margin-bottom: 6em;
        }

            .square {
                /* Box Model */
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                max-width: 200px;
            }

                .image {
                    /* Box Model */
                    padding: 4em;
                    margin-bottom: 1em;

                    /* Visual Decorations */
                    border: solid #3882F6;
                    border-radius: 15px;
                }

                .text {
                    /* Typography */
                    text-align: center;
                }

.quote {
    /* Box Model */
    display: flex;
    justify-content: center;

    /* Visual Decorations */
    background-color: #E5E7EB;
}

    .quote-info {
        /* Box Model */
        margin: 6em 0;
        width: 815px;
    }

        .quote-text{
            /* Typography */
            color: #1F2937;
            font-size: 36px;
            font-style: italic; /*Look up how to do light italic*/
            font-weight: 100;
        }

        .quote-person{
            /* Box Model */
            display: flex;
            justify-content: flex-end;
            margin-top: -15px;

            /* Typography */
            font-weight: bold;
        }

.action {
    /* Box Model */
    align-items: center;
    display: flex;
    justify-content: center;
}

    .action-blue{
        /* Box Model */
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 8em;
        padding: 2em 8em;
        width: 900px;

        /* Visual Decorations */
        background-color: #3882F6;
        border-radius: 5px;
    }

        .action-text {
            /* Typography */
            color: #F9FAF8;
            font-weight: bold;
        }

            .action-subtext{
                /* Typography */
                color: #E5E7EB;
            }

        .action-signup {
            /* Box Model */
            padding: 0.5em 1.5em;
            width: fit-content;

            /* Visual Decorations */
            background-color: #3882F6;
            border: solid #F9FAF8;
            border-radius: 7px;
            cursor: pointer;

            /* Typography */
            color: #F9FAF8;
            font-weight: bold;
        }

.footer {
    /* Box Model */
    display: flex;
    justify-content: center;

    /* Visual Decorations */
    background-color: #1F2937;
}

    .footer-text {
        /* Box Model */
        padding: 2em;

        /* Typography */
        color: #F9FAF8;
    }